<div class="page-header">
  <h1>Send a message!</h1>
</div>
<hr/>

<% if @message && @message.errors.any? %>
  <div>
    <strong>Some issues with your signup info, please fix them:</strong>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>




<form method="post" action="/messages/new" >
    <input type="hidden" name="post_id" value="<%= @post_info[:post_id] %>">
    <input type="hidden" name="subject" value="<%= @post_info[:post_name] %>">
    <input type="hidden" name="recipient_id" value="<%= @post_info[:recipient_id] %>">
    <h3>Subject: <%= @post_info[:post_name] %></h3>
    
    <h5>To: <%= (User.find(@post_info[:recipient_id])).username %></h5>
    <div>
      <label>text: </label>
      <input type="text" name="text"> 
    </div>

    <div>
      <input type="submit" value="Submit">
    </div>
</form>

