<ul class="list-group">

  <form method='get' action="/messages/all">
    <input type="submit" class="btn btn-sm btn-danger" value="inbox">
  </form>

  <form method='get' action="/messages/sent">
    <input type="submit" class="btn btn-sm btn-danger" value="Sent">
  </form>

  <% @messages.each do |message| %>
    <li class="list-group-item">
      <div class="post" >
        <h3>Subject: <%= message.subject %></h3>
        <h4>sent to: <%= (User.find(message.recipient_id)).username %></h4>
        <% unless (User.find(message.recipient_id)).user_pic.nil? %>
          <img src="<%= (User.find(message.recipient_id)).user_pic %>">
        <% else %>
          <img src="/user_pics/default-profile.gif">
        <% end %>
        <h5>message: <%= message.text %></h5>
        <h6>sent at: <%= (message.created_at).to_formatted_s(:long) %></h6>
        <form method="get" action="/messages/new">
          <input type="hidden" name="post_id" value="<%=message.post_id %>">
          <input type="hidden" name="post_name" value="<%= message.subject %>">
          <input type="hidden" name="recipient_id" value="<%= message.sender_id %>">
          <input type="submit" class="btn btn-sm btn-primary" value=" Reply">
        </form>
        <form method='post' action="/messages/delete/<%= message.id %>">
          <input type="submit" class="btn btn-sm btn-danger" value=" DELETE">
        </form>
      </div>
    </li>
  <% end %>
</ul>

