<div class="page-header">
  <h1>Posts<small>oddjobs</small></h1>
</div>



<ul class="list-group">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="post">
        <h3><a href="/posts/<%= post.id %>"><%= post.post_title %></a></h3>
        <h4>Posted by: <%= User.find(post.user_id) %></h4>
        <h5>Location: <%= post.location %></h5>
        <h6>Target Completion Date: <%= post.date %></h6>
        <p><%= post.description %></p>
          <% unless post.post_pic.nil? %>
            <img src="<%= post.post_pic %>"/>
          <% end %>
      </div>
      <% if current_user %>
          <% if post.likes.find { |l| l.user_id == current_user.id }%>
            <p> Liked! </p>
            <form method="post" action="/disliked">
              <input type="hidden" name="post_id" value="<%= post.id %>">
              <input type="submit" class="btn btn-sm btn-primary" value="Dislike">
            </form>
          <% else %>
            <form method="post" action="/liked">
              <input type="hidden" name="post_id" value="<%= post.id %>">
              <input type="submit" class="btn btn-sm btn-primary" value="Like">
            </form>
          <% end %>
            <p class="text-center">Likes: <%= post.total_likes %></p>
            <form method="get" action="/messages/new">
              <input type="hidden" name="post_id" value="<%= post.id %>">
              <input type="hidden" name="post_name" value="<%= post.post_title %>">
              <input type="hidden" name="recipient_id" value="<%= post.user_id %>">
              <input type="submit" class="btn btn-sm btn-primary" value="Message">
            </form>
      <% end %>
    </li>
  <% end %>
</ul>

<hr/>